.faq-container{
    width: 90%;
    max-width: 900px;
    margin: 28px auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    line-height: 1.6;
    padding-bottom: 30px;
}
h2{
    color: #e65c00;
}
.catagory{
    border: 1px solid #ddd;
    padding: 12px 16px;
    margin-bottom: 10px;
    border-radius: 8px;
    background: #ffff;
}
.catagory h3{
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    padding: 5px 0;
    color: #1493dd;
}
.catagory p{
    margin: 8px 0 0 0;
    font-size: 14px;
    color: #444;
    line-height: 1.6;
    display: none;
}
.catagory.open p{
    display: block;
}
.catagory:hover{
    background: #f9f9f9;
    transition: 0.2s;
}