<div class="terms-container">
  <h1>Terms & Conditions</h1>
  <p>Effective Date: {{ effectiveDate }}</p>

  <p>Welcome to <strong>{{ websiteName }}</strong> ("we", "our", "us"). By accessing or using our website <strong>{{ websiteURL }}</strong> (the “Website”), you agree to comply with and be bound by these Terms & Conditions. Please read them carefully.</p>

  <div *ngFor="let term of termsContent">
    <h2>{{ term.title }}</h2>

    <ul *ngIf="term.isList">
      <li *ngFor="let item of term.listItems">{{ item }}</li>
    </ul>

    <p *ngIf="!term.isList" [innerHTML]="term.description"></p>
  </div>
</div>
