<div class="checkout-wrapper">

  <!-- LEFT SIDE FORM -->
  <div class="checkout-container">
    <h2>Delivery Information</h2>

    <form [formGroup]="deliveryForm" (ngSubmit)="save()">

      <div class="form-grid">

        <div class="field">
          <label>Full Name</label>
          <input type="text" placeholder="Enter your first and last name" formControlName="fullName">
        </div>

        <div class="field">
          <label>Province</label>
          <select formControlName="province">
            <option value="">Choose Province</option>
            <option>Punjab</option>
            <option>Sindh</option>
            <option>KPK</option>
            <option>Balochistan</option>
          </select>
        </div>

        <div class="field">
          <label>House No / Street</label>
          <input type="text" placeholder="Enter house no" formControlName="house">
        </div>

        <div class="field">
          <label>Area</label>
          <select formControlName="area">
            <option value="">Choose Area</option>
          </select>
        </div>

        <div class="field">
          <label>Colony / Landmark</label>
          <input type="text" placeholder="Enter landmark" formControlName="colony">
        </div>

        <div class="field">
          <label>Address</label>
          <input type="text" placeholder="Full address" formControlName="address">
        </div>

      </div>

      <button class="save-btn" type="submit">SAVE</button>

    </form>
  </div>


  <!-- RIGHT SIDE BOX -->
  <div class="order-box">
    <h3>Order Summary</h3>
    <p>Items: 3</p>
    <p>Total: Rs 2500</p>
    <button>Checkout</button>
  </div>

</div>