.checkout-container{
    width: 90%;
    max-width: 900px;
    margin: auto;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px #e2e2e2;
}
.form-row{
display: grid;
grid-template-columns: 1fr 1fr;
gap: 20px 30px;
}
.form-group{
    display: flex;
flex-direction: column;
}
label{
    
    color: #444;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 15px;
}
input , select{
padding: 10px 12px;
border: 1px solid #d9d9d9;
border-radius: 5px;
font-size: 14px;
}
h2{
    color: #ff6600;
}
.save-btn{
    background: #1493dd;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    display: block;
    margin-top: 20px;
}
.save-btn:hover{
    background: #ff6600;
}