.policy-container{
    width: 90%;
    max-width: 900px;
    margin: auto;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.section{
    border: 1px solid #ddd;
    padding: #fff;
    padding: 14px 18px;
    margin-bottom: 10px;
    border-radius: 8px;
}
h2{
    color: #e65c00;
}
.section h3{
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}
.section p{
    margin-top: 8px;
    line-height: 1.6;
}