.login-container {
  width: 300px;
  margin: 100px auto;
  text-align: center;
  background: #f8f8f8;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.login-container h2 {
  margin-bottom: 20px;
  color: #ff6600;
}

.login-container input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-container input:focus{
  border: 1px solid #ff6600;
  outline: none;
}

.login-container button {
  width: 95%;
  padding: 10px;
  background: #ff6600;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.login-container button:hover {
  background: #e65c00;
}
