<router-outlet></router-outlet>
<app-navbar></app-navbar>
<app-cover-banner></app-cover-banner>
<app-sale-product></app-sale-product>
<app-detail-card></app-detail-card>
<app-buy-now></app-buy-now>
<app-about-us></app-about-us>
<app-faq></app-faq>
<app-shipping-policy></app-shipping-policy>
<app-cart-page></app-cart-page>
<app-terms-conditions></app-terms-conditions>
<app-privacy-policy></app-privacy-policy>
<app-contact-us></app-contact-us>
<app-login></app-login>
<app-signup></app-signup>
<app-footer></app-footer>

