.title {
  font-size: 34px;
  margin-bottom: 15px;
  text-align: center;
}
.dashboard{
  color: #ff6600;
  cursor: pointer;
  text-align: right;
  margin-top: 50px;
  padding: 15px;
  display: inline-flex;
  background: #ff6600;
  color: #fff;
  border-radius: 10px;
}
.dashboard:hover{
  background: #e65c00;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-bottom: 25px;
}

.chart-section,
.table-section {
  background: #fff;
  padding: 20px;
  border-radius: 14px;
  margin-bottom: 25px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.12);
}

h3 {
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #ff6600;
  color: #fff;
  
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}
th{
  padding-right: 100px;
}
td{
    padding-left: 75px;
}
tbody tr:hover {
  background: #f5f5f5;
}
