<div class="detail-container">
  <div class="image-box">
    <img [src]="record.image" [alt]="record.title" />
  </div>
  <div class="content-box">
    <h2 class="title">{{ record.title }}</h2>
    <div class="price-row">
      <p class="new-price">$ {{ record.price }}</p>
      <P class="old-Price">$ {{ record.oldPrice }}</P>
      <p class="discount">$ {{ record.discount }}</p>
    </div>
    <p class="description">
      {{ record.detail }}
    </p>

    <div class="quantity-box">
      <h2>Quantity</h2>
      <button (click)="decrease()">-</button>
      <span>{{ quantity }}</span>
      <button (click)="increase()">+</button>
      <!-- <p class="new-price">$ {{record.price}}</p> -->
      <p class="new-price">$ {{ totalPriceFix(record.price, quantity) }}</p>
    </div>

    <div class="color-option">
      <div
        class="color-circle"
        *ngFor="let color of record.colors"
        [style.backgroundColor]="color"
        (click)="selectcolor = color"
        [class.active]="selectcolor === color"
      ></div>
    </div>
    <div class="size-button">
      <button
        *ngFor="let size of record.itemSizes"
        class="size-btn"
        [class.active]="selectedsize === size.sizeNames"
        (click)="selectedsize = size.sizeNames"
      >
        {{ size.sizeNames | json }}
      </button>
    </div>
    <button class="buy-btn" (click)="navigateToForm()">Buy Now</button>
    <button class="cart-btn" (click)="navigateTocart(record)">
      Add to Cart
    </button>
  </div>
</div>
