
<app-shop-slider></app-shop-slider>

<section class="product-sale" *ngIf="allFilteredProducts.length > 0">
  <div class="product-grid">
    <div
      class="product-card"
      *ngFor="let item of allFilteredProducts"
      (click)="navigateToDetail(item)"
    >
      <div class="img-box">
        <img [src]="item.image || 'assets/no-image.png'" [alt]="item.title" />
      </div>
      <h3>{{ item.title }}</h3>
      <div class="price-row">
        <span class="price">Rs {{ item.price }}</span>
        <span class="oldPrice">Rs {{ item.oldPrice }}</span>
        <span class="discount">-{{ item.discount }}%</span>
      </div>
    </div>
  </div>
</section>

<div *ngIf="allFilteredProducts.length === 0" class="no-results">
  <p>
    Sorry, we couldn’t find any <span>products</span> matching your search. Try
    different keywords or check back later.
  </p>
</div>