<!-- <app-shop-slider></app-shop-slider>
<section class="product-sale" *ngIf="groupedProducts?.length">
  <ng-container *ngFor="let group of groupedProducts">
    <h2>{{ group.caption.title }}</h2>
    <p class="on-sale">{{ group.caption.desc }}</p>

    <div class="product-row">
      <div
        class="product-card"
        *ngFor="let item of group.products"
        (click)="navigateToDetail(item)"
      >
        <img
          [src]="item.itemImages?.[0]?.imgPaths || 'assets/no-image.png'"
          [alt]="item.itemName"
        />
        <h3>{{ item.itemName }}</h3>
        <div class="price-row">
          <p class="price">$ {{ item.price }}</p>
          <p class="oldPrice" *ngIf="item.oldPrice">$ {{ item.oldPrice }}</p>
          <span class="discount">{{ item.discount ?? 0 }}%</span>
        </div>
      </div>
    </div>
  </ng-container>
</section> -->







<app-shop-slider></app-shop-slider>

<!-- 👕 Young Boy -->
<section class="product-sale">
  <h2>Young Boy’s Collection</h2>
  <p class="on-sale">Essential fashion items for 18+ men:</p>

  <div class="product">
    <div
      class="product-card"
      (click)="navigateToDetail(item)"
      *ngFor="let item of Bosyproducts"
    >
      <img [src]="item.image" [alt]="item.title" />
      <h3>{{ item.title }}</h3>

      <div class="price-row">
        <p class="price">$ {{ item.price }}</p>
        <p class="oldPrice">$ {{ item.oldPrice }}</p>
        <span class="discount">- {{ item.discount }}</span>
      </div>
    </div>
  </div>
</section>

<!-- 👗 Young Girl -->
<section class="product-sale">
  <h2>Young Girl’s Collection</h2>
  <p class="on-sale">Trendy and stylish items for 18+ women:</p>

  <div class="product">
    <div
      class="product-card"
      (click)="navigateToDetail(item)"
      *ngFor="let item of girlproduct"
    >
      <img [src]="item.image" [alt]="item.title" />
      <h3>{{ item.title }}</h3>

      <div class="price-row">
        <p class="price">$ {{ item.price }}</p>
        <p class="oldPrice">$ {{ item.oldPrice }}</p>
        <span class="discount">{{ item.discount }}</span>
      </div>
    </div>
  </div>
</section>

<!-- 🧒 Kids -->
<section class="product-sale">
  <h2>Kids Collection (4–12 years old)</h2>
  <p class="on-sale">Cool and comfortable clothes for boys & girls:</p>

  <div class="product">
    <div
      class="product-card"
      (click)="navigateToDetail(item)"
      *ngFor="let item of kidproducts"
    >
      <img [src]="item.image" [alt]="item.title" />
      <h3>{{ item.title }}</h3>

      <div class="price-row">
        <p class="price">$ {{ item.price }}</p>
        <p class="oldPrice">$ {{ item.oldPrice }}</p>
        <span class="discount">{{ item.discount }}</span>
      </div>
    </div>
  </div>
</section>
