<nav class="navbar">
    <div class="logo">
        <img src="https://cdn.dribbble.com/userupload/17039933/file/original-dbbc84c08bd6b4b49fc97827fa5be468.jpg?resize=1024x768&vertical=center"
            alt="logo">
    </div>
    <ul class="top-links">
        <li><a href="home">Home</a></li>
        <li><a href="shop">Shop</a></li>
        <li><a href="aboutus">About Us</a></li>
        <li><a href="contact">Contact</a></li>
        <li><a href="faq">FAQ</a></li>
        <li><a href="shippingpolicy">Shipping Policy</a></li>
        <li><a href="term&conditions">Terms & Conditions</a></li>
        <li><a href="privacypolicy">Privacy Policy</a></li>
    </ul>
</nav>
<div class="search-area">
    <input type="text" placeholder="Search in AhmedHub">
    <img class="search-img" src="https://cdn-icons-png.flaticon.com/128/3482/3482644.png" alt="search icon">
    <img class="cart-icon" src="https://cdn-icons-png.flaticon.com/128/1170/1170678.png" alt="cart-icon">
</div>