/* ===== Desktop (Default) ===== */
.navbar {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  background: #ff6600;
  color: white;
  
}


.top-links li a.active {
  background: #fff3e6;
  color: #ff5500;
  padding: 6px 10px;
  border-radius: 4px;
}


.logo img {
  height: 40px;
  margin-right: 30px;
}

.cart-icon {
  font-size: 25px;
  margin-left: 20px;
  cursor: pointer;
  background: none;
}

.search-area {
  width: 100%;
  background: #ff6600;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

/* .search-area {
  position: relative;
  width: 250px; 
} */

.search-input {
  width: 100%;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.search-results {
  position: absolute;
  top: 42px; /* input ke neeche */
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  z-index: 1000;
  padding: 0;
  margin: 0;
  list-style: none;
}

.search-results li {
  padding: 8px 12px;
  cursor: pointer;
}

.search-results li:hover {
  background-color: #f0f0f0;
}


.search-area input {
  width: 35%;
  height: 40px;
  border: none;
  border-radius: 3px 0 0 3px;
  padding-left: 15px;
  font-size: 14px;
  outline: none;
  margin-left: 30%;
}

.search-area img {
  height: 42px;
  width: 50px;
  background: #fff3e6;
  cursor: pointer;
  border-radius: 0 3px 3px 0;
}

.top-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin-left: auto;
  padding-right: 55px;
}

.top-links li a {
  font-size: 13px;
  font-weight: 900;
  color: white;
  text-decoration: none;
}

/* .top-links li a:hover {
  background: #fff3e6;
  color: #ff5500;
} */
/* Hamburger button - hidden on desktop */
.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: white;
}

/* ===== Mobile (≤ 600px) ===== */
@media (max-width: 600px) {
  .menu-toggle {
    display: block;
    font-size: 28px;
    cursor: pointer;
    color: white;
  }

  .top-links {
    display: none; /* hide menu default */
    flex-direction: column; /* vertical menu */
    gap: 0; /* reset gap for column */
    position: absolute;
    top: 60px; /* navbar height */
    left: 0;
    right: 0;
    background: #ff6600;
    z-index: 99;
  }

  .top-links.active {
    display: flex; /* show menu when active */
  }

  .top-links li a {
    padding: 12px 20px;
    border-bottom: 1px solid #ff5500;
    width: 100%;
    box-sizing: border-box;
    display: block; /* full width click */
    text-align: left;
  }

  /* Active link highlight on mobile */
  .top-links li a.active {
    background: #fff3e6;
    color: #ff5500;
  }

  .search-area {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
  }

  .search-area input {
    width: 70%;
    margin-left: 0;
  }

  .search-area img,
  .cart-icon {
    width: 35px;
    height: 35px;
  }
}
