<nav class="navbar">
  <div class="logo">
    <img
      src="https://cdn.dribbble.com/userupload/17039933/file/original-dbbc84c08bd6b4b49fc97827fa5be468.jpg"
      alt="logo"
    />
  </div>

  <!-- Hamburger icon (mobile only) -->
  <div class="menu-toggle" (click)="toggleMenu()">☰</div>

  <!-- Navigation links -->
  <ul class="top-links" [class.active]="menuOpen">
    <li><a routerLink="/home" (click)="closeMenu()">Home</a></li>
    <li><a routerLink="/shop" (click)="closeMenu()">Shop</a></li>
    <li><a routerLink="/aboutus" (click)="closeMenu()">About Us</a></li>
    <li><a routerLink="/contact" (click)="closeMenu()">Contact</a></li>
    <li><a routerLink="/faq" (click)="closeMenu()">FAQ</a></li>
    <li>
      <a routerLink="/shippingpolicy" (click)="closeMenu()">Shipping Policy</a>
    </li>
    <li>
      <a routerLink="/terms-conditions" (click)="closeMenu()"
        >Terms & Conditions</a
      >
    </li>
    <li>
      <a routerLink="/privacypolicy" (click)="closeMenu()">Privacy Policy</a>
    </li>
    <li><a routerLink="/login" (click)="closeMenu()">Login</a></li>
    <li><a routerLink="/signup" (click)="closeMenu()">Signup</a></li>
    <li><a routerLink="/admin-panel" (click)="closeMenu()">Admin Panel</a></li>
  </ul>
</nav>

<div class="search-area">
  <input type="text" placeholder="Search in AhmedHub" />

  <img
    class="search-img"
    src="https://cdn-icons-png.flaticon.com/128/3482/3482644.png"
    alt="search"
  />

  <img
    class="cart-icon"
    src="https://cdn-icons-png.flaticon.com/128/1170/1170678.png"
    alt="cart"
    (click)="navigateToCart()"
  />
</div>
