.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(135deg, #ff6600, #e65c00); */
  font-family: Arial, sans-serif;
}

.login-card {
  background: #fff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
  box-sizing: border-box;
  max-width: 450px;
  width: 100%;
  text-align: center;
  margin: 0 15px;
}

.login-card h2 {
  margin-bottom: 25px;
  color: #e65c00;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}
.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}
.input-group input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.error small {
  color: red;
  font-size: 12px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #ff6600;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  background-color: #e65c00;
}

.signup-text {
  margin-top: 15px;
  font-size: 14px;
}
.signup-text a {
  color: #ff6600;
  text-decoration: none;
  font-weight: bold;
}
.signup-text a:hover {
  color: #e65c00;
}
