.product-management-container {
  max-width: 950px;
  margin: 40px auto;
  padding: 25px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  text-align: center;
  color: #ff6600;
  margin-bottom: 25px;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 25px;
}

.form-container input,
.form-container textarea {
  flex: 1 1 150px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
  transition: border 0.3s, box-shadow 0.3s;
}

.form-container input:focus,
.form-container textarea:focus {
  border: 1px solid #ff6600;  
  outline: none;  
  box-shadow: 0 0 5px rgba(255, 102, 0, 0.5);             
}

input[type='color']{
  width: 50px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 6px;
  cursor: pointer;
  padding: 0;
}
input[type='text']{
  flex: 1 1 200px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.radio-group {
  width: 100%;
  display: flex;
  gap: auto;
  margin-bottom: 15px;
}

.radio-group label {
  font-size: 14px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 6px;
  transition: background 0.3s;
}

.desc-box{
  width: 97%;
  min-height: 100px;
  resize: vertical;
  font-size: 15px;
  padding: 15px;
  line-height: 1.8;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: border 0.3s, box-shadow 0.3s;
  margin-bottom: 20px;
}
.desc-box:focus{
  border: 1px solid #ff6600;
  outline: none;
  box-shadow: 0 0 8px rgba(255, 102, 0, 0.3);
}

.btn-container{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
}

button {
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  background: #ff6600;
  color: #fff;
  cursor: pointer;
  
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #eee;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

th {
  background: #ff6600;
  color: white;
}

.product-img {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 6px;
}
.btn {
  background-color: red;
  color: white;
  margin-left: 5px;
}
.btn1 {
  background-color: blue;
  color: white;
}
@media (max-width:768px){
  .form-container input,
  textarea {
    flex: 1 1 100%;
  }
  .radio-group { flex-direction: column; }
  .button-container { flex-direction: column; }
  .btn, .btn1, button { width: 100%; }
}
