<div class="product-management-container">
  <h2>Admin Product Management</h2>

  <form #productForm="ngForm" class="form-container">

    <input name="name" [(ngModel)]="productName" placeholder="Product Name" required />

    <input name="brand" [(ngModel)]="productBrand" placeholder="Brand Name" required />

    <textarea
      name="description"
      [(ngModel)]="productDescription"
      placeholder="Product Description"
      rows="2"
      required>
    </textarea>

    <input
      name="price"
      [(ngModel)]="productPrice"
      type="number"
      placeholder="Price"
      min="1"
      required
    />

    <input
      type="file"
      accept="image/*"
      (change)="onImageSelect($event)"
      required
    />

    <input
      name="quantity"
      [(ngModel)]="productQuantity"
      type="number"
      placeholder="Quantity"
      min="1"
      required
    />
 <input
      name="itemCategory"
      [(ngModel)]="itemCategory"
      type="number"
      placeholder="Category"
      min="1"
      required
    />
    <!-- CATEGORY RADIO BUTTONS -->
    <div class="radio-group">
      <label>
        <input type="radio" name="category" value="Young Boy"
               [(ngModel)]="productCategory" required />
        Young Boy
      </label>

      <label>
        <input type="radio" name="category" value="Young Girl"
               [(ngModel)]="productCategory" required />
        Young Girl
      </label>

      <label>
        <input type="radio" name="category" value="Kids"
               [(ngModel)]="productCategory" required />
        Kids
      </label>
    </div>

    <button *ngIf="!editId" (click)="addProduct()" [disabled]="!isFormValid()">
      Add Product
    </button>

    <button *ngIf="editId" (click)="updateProduct()" [disabled]="!isFormValid()">
      Update Product
    </button>

    <butto>Cancel</button>
  </form>

  <table>
    <tr>
      <th>Name</th>
      <th>Brand</th>
      <th>Description</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Category</th>
      <th>Image</th>
      <th>Actions</th>
    </tr>

    <tr *ngFor="let p of products">
      <td>{{ p.name }}</td>
      <td>{{ p.brand }}</td>
      <td>{{ p.description }}</td>
      <td>{{ p.price }}</td>
      <td>{{ p.quantity }}</td>
      <td>{{ p.category }}</td>
      <td>
        <img [src]="p.image" class="product-img" />
      </td>
      <td>
        <button >Edit</button>
        <button >Delete</button>
      </td>
    </tr>
  </table>
</div>
