.product-management-container {
  max-width: 950px;
  margin: 40px auto;
  padding: 25px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #ff6600;
  margin-bottom: 25px;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 25px;
}

.form-container input,
.form-container textarea {
  flex: 1 1 200px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.radio-group {
  width: 100%;
  display: flex;
  gap: 25px;
  margin: 10px 0;
}

.radio-group label {
  font-size: 14px;
  cursor: pointer;
}

button {
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  background: #ff6600;
  color: #fff;
  cursor: pointer;
}

button:disabled {
  background: #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #eee;
  padding: 10px;
  text-align: center;
}

th {
  background: #ff6600;
  color: white;
}

.product-img {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 6px;
}
.btn {
  background-color: red;
  color: white;
  margin-left: 5px;
}
.btn1 {
  background-color: blue;
  color: white;
}
