.cover-container{
display: grid;
grid-template-columns: repeat(3 , 1fr);
gap: 25px;
padding: 30px;
}

.banner{
    position: relative;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.18);
    transition: 0.3s ease;
    cursor: pointer;
}
.banner:hover{
    transform: scale(1.03);
}
.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-content{
     position: absolute;
     bottom: 20px;
     left: 20px;
     font-weight: bold;
     color: #fff;
     text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
}
.banner-content h2{
    font-size: 22px;
    margin: 0;
}
.banner-content p{
    font-size: 15px;
    margin: 4px 0 0;
}
.shop-now{
position: absolute;
top: 50%;
left: 50%;
transform: translateY(-50%,-50%);
padding: 17px 30px;
background-color: #ff6600;
color: white;
font-size: 18px;
border: none;
cursor: pointer;
border-radius: 5px;
}
.shop-now:hover{
    background-color: #e65c00;
}